@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
/* Prevent iOS automatic text size adjustments (avoids content appearing "zoomed")
   and set a predictable box-sizing model to avoid unintentional overflow. */
html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(30px);
  z-index: 1000;
  padding: 20px 20px;
  transition: background-color 300ms ease;
}

header > img:hover {
  cursor: pointer;
}

/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */

#mobile-menu-icon {
  display: none;
}

.navmenu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navmenu-items li {
  list-style: none;
}

.navmenu-items li a {
  color: #000000;
  text-decoration: none;
  font-family: "Radio Canada Big", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
}

#getstart {
  display: flex;
  align-items: center;
  gap: 4px;
}

#arrow {
  position: relative;
}

/* Use transform for smoother GPU-accelerated animation */
#getstart #arrow {
  position: relative;
  transition: transform 400ms ease;
  will-change: transform;
}

#getstart:hover #arrow {
  transform: translateX(8px);
}

main {
  padding: 140px 230px 120px 230px;
  background: linear-gradient(
    180deg,
    rgba(168, 211, 255, 1) 0%,
    rgba(255, 244, 223, 1) 100%
  );
}

#back {
  text-decoration: none;
  color: #000000;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  text-align: center;
  display: block;
  padding-bottom: 40px;
}

.job-description {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 16px;
}

.job-header {
  padding-bottom: 48px;
  border-bottom: 1px solid #dbe0ec;
  display: flex;
  gap: 40px;
}

#job-name {
  font-family: "Radio Canada Big", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.type-location {
  display: flex;
  gap: 8px;
  padding-top: 8px;
}

.type-location p {
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
  color: #6c6c6c;
}

#short-dscp {
  padding-top: 24px;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
}

.apply-now {
  padding: 12px 12px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  width: 100px;
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: color 200ms ease, background-color 200ms ease;
  will-change: color, background-color;
}

.apply-now:hover {
  color: #bdbcbc;
  cursor: pointer;
}

.roles-responsiblities {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dbe0ec;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rr-content #head {
  font-family: "Radio Canada Big", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
  padding-bottom: 25px;
}

.rr-content ul {
  padding-left: 25px;
}

.rr-content ul li {
  padding-bottom: 10px;
}

.rr-content #text {
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.59px;
}

.ready {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.ready p {
  font-family: "Radio Canada Big", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

.ready button {
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  padding: 12px 12px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  width: 120px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: color 200ms ease, background-color 200ms ease;
  will-change: color, background-color;
}
.ready button:hover {
  color: #bdbcbc;
  cursor: pointer;
}

.ready button div {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
}

footer {
  background-color: #fff546;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.site-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-map-menu {
  display: flex;
  gap: 20px;
}

.site-map-items {
  list-style: none;
}

.site-map-items a {
  text-decoration: none;
  color: #000000;
  font-family: "Radio Canada Big", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #66640f;
}

.site-map p {
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
  color: #66640f;
}

@media screen and (min-width: 800px) and (max-width: 1279px) {
  main {
    padding: 140px 40px 120px 40px;
  }

  #job-name{
    font-size: 32px;
  }

  #short-dscp {
    letter-spacing: -0.7px;
  }

  .rr-content #text {
    letter-spacing: -0.75px;
  }

  #f-img {
    content: url("local-assets/Footer\ image-1.svg");
  }

  #f-logo {
    content: url("local-assets/Footer\ Logo-1.svg");
  }
}

@media screen and (min-width: 1px) and (max-width: 799px) {
  body {
    box-sizing: border-box;
    width: 100%;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  #navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .navmenu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 400ms ease, opacity 300ms ease;
  }

  .navmenu-items.open {
    max-height: 500px; /* adjust based on your menu height */
    opacity: 1;
    padding-top: 20px;
  }

  .navmenu-items li a {
    font-size: 24px;
    letter-spacing: -1.5px;
    padding-bottom: 20px;
  }

  .navmenu-items li {
    width: 100%;
    border-bottom: 1px solid #dbe0ec;
    display: flex;
  }

  .navmenu-items li a:hover {
    opacity: 0.55;
    transition: opacity 200ms ease;
    cursor: pointer;
  }

  #getstart {
    text-align: center;
    border-bottom: none;
  }

  #get-started {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-family: "Geist Mono", monospace;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    transition: color 200ms ease, background-color 200ms ease;
    will-change: color, background-color;
  }

  #get-started:hover {
    opacity: 1;
    color: #bdbcbc;
    cursor: pointer;
  }

  #arrow {
    display: none;
  }

  #mobile-menu-icon {
    display: unset;
    cursor: pointer;
  }

  main {
    padding: 120px 20px;
  }

  #back{
    font-size: 18px;
  }

  #job-name{
    font-size: 24px;
  }

  .job-description {
    padding: 24px 24px 32px 24px;
  }

  .job-header {
    flex-direction: column;
    padding-bottom: 32px;
    gap: 24px;
  }

  #short-dscp {
    font-size: 18px;
    letter-spacing: -0.3px;
  }

  .rr-content #text{
    font-size: 18px;
  }

  footer {
    width: 100%;
    padding: 40px 20px 20px 20px;
  }

  .site-map {
    flex-direction: column;
    gap: 40px;
  }

  .site-map-menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .site-map-items a {
    font-size: 18px;
  }

  .site-map p {
    font-size: 18px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
